#first-button {
    margin-top: 10em;
    position: relative;
}

#first-button a
{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 50px;
    background: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: verdana;
    letter-spacing: 4px;
/*    border-radius: 20px; */
}


a:before,
a:after,
span:before,
span:after
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(8, 8, 8);
    transition: 1s;
    mix-blend-mode: hue;
}

#first-button a:before
{
    top: -2px;
    left: -2px
}
#first-button a:after
{
    top: -2px;
    right: -2px;
}
#first-button span:before
{
    bottom: -2px;
    left: -2px
}
#first-button span:after
{
    bottom: -2px;
    right: -2px
}

#first-button a:hover:before,
#first-button a:hover:after,
#first-button a:hover span:before,
#first-button a:hover span:after
{
    width: calc( 350px/2 );
    height: calc( 50px/2 )
}